.footer{
    padding: 100px 0 150px 0;
}
.footer__title{
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-align: center;
    text-transform: uppercase;

    color: $black-color;
}