.header{
    background: grey;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    height: 740px;
    max-width: 1920;
    margin-left: auto;
    margin-right: auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    transition: 500ms;
    transform-origin: right center;
    transform: scaleX(0) translateX(20%);
    opacity: 0;
}
.nav{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav__active{
    transform: scaleX(1) translateX(0%);
    opacity: 1;
}
.nav__list{
    display: flex;
}
.nav__link{
    display: inline-block;
    color: $gray-color;
    margin-right: 20px;

    &:hover,
    &:focus{
        text-decoration: underline;
        color: $accent-color;
    }
}
.nav__item{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}
.header-btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    position: relative;
}
.header-btn .header__button,
.header-btn .header__button::before,
.header-btn .header__button::after{
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 3px;
    background-color: #fff;

    border-radius: 3px;
}
.header-btn .header__button::before,
.header-btn .header__button::after{
    content: '';
    transition: 250ms;
}
.header-btn .header__button::before{
    transform: translateY(-5px);
}
.header-btn .header__button::after{
    transform: translateY(5px);
}
.header-btn__active .header__button{
    height: 0;
}
.header-btn__active .header__button::before{
    transform: rotate(45deg);
}
.header-btn__active .header__button::after{
    transform: rotate(-45deg);
}

.header__title{
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $white-color;
}
.header__text{
    font-family: $second-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;

    color: $white-color;
    margin-top: 35px;
}