.header{
    background-color: blueviolet;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    transition: 500ms;
    transform-origin: right center;
    transform: scaleX(0) translateX(20%);
    opacity: 0;
}
.nav{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav__active{
    transform: scaleX(1) translateX(0%);
    opacity: 1;
}
.nav__list{
    display: flex;
}
.nav__link{
    display: inline-block;
    color: #222;
    margin-right: 20px;
}
.header-btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    position: relative;
}
.header-btn .header__button,
.header-btn .header__button::before,
.header-btn .header__button::after{
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 3px;
    background-color: #fff;

    border-radius: 3px;
}
.header-btn .header__button::before,
.header-btn .header__button::after{
    content: '';
    transition: 250ms;
}
.header-btn .header__button::before{
    transform: translateY(-5px);
}
.header-btn .header__button::after{
    transform: translateY(5px);
}
.header-btn__active .header__button{
    height: 0;
}
.header-btn__active .header__button::before{
    transform: rotate(45deg);
}
.header-btn__active .header__button::after{
    transform: rotate(-45deg);
}