.hero-container{
    background: $second-white-color;
    margin-top: 170px;
}
.hero-list{
    display: flex;
    justify-content: center;
}
.hero-item{
    margin-left: 154px;
    padding: 84px 0 54px 0;
}
.hero-item:first-child{
    margin-left: 0;
}
.hero-title{
    margin-bottom: 39px;

    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 0.8;
    text-align: center;
    text-transform: uppercase;
    
    color: $accent-color;
}
.hero-text{
    margin-bottom: 21px;
    
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 0.8;
    text-align: center;
    text-transform: uppercase;

    color: $black-color;
}
.hero-text-two{
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.8;
    text-align: center;

    color: $gray-color;
}