.partners{
    padding: 100px 0;
    background: $second-black-color;
}
.partners__title{
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.8;
    text-transform: uppercase;
    text-align: center;

    color: $white-color;
}