.partners{
    padding: 100px 0;
    background: $second-black-color;
}
.partners__title{
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

    color: $white-color;
}
.partners__list{
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}
.partners__link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    width: 200px;
    border-radius: 5px;

    &:hover,
    &:focus{
        background: #777e9191;
    }
}