$basic-color: rgba(153, 153, 153, 1);
$accent-color: rgba(247, 101, 74, 1);
$white-color: #ffffff;
$second-font: 'Oswald', sans-serif;
$black-color: #000000;
$gray-color: #999999;
$second-black-color: #404149;
$hover-color: #e9d8d8;
$second-white-color: #F7F7F7;